h1{color:red;
  border: solid;}

h1{
  text-align: center;
}

.box1{
  display: flex;
  justify-content: center;
  text-align: center;
}

.box2{
  display: flex;
  justify-content: center;
  text-align: center;
}

.box3{
  display:flex;
  justify-content: center;
  text-align: center;
}

.box4{
  display:flex;
  justify-content: center;
  text-align: center;
}

.box5{
  display: flex;
  justify-content: center;
  text-align: center;
}
